
{% if website.twitter %}
<a class="ui twitter" href="https://twitter.com/{{website.twitter|cgi_escape}}" target="_blank"><i 
    class="twitter large icon"></i></a>
{% endif %}

{% if website.facebook %}
<a class="ui facebook" href="https://facebook.com/{{website.facebook}}/" target="_blank"><i
    class="facebook large icon"></i></a>
{% endif %}

{% if website.instagram %}
<a class="ui instagram" href="https://www.instagram.com/{{website.instagram}}/" target="_blank"><i
    class="instagram large brown icon"></i></a>
{% endif %}

{% if website.linkedin %}
<a class="ui linkedin" href="https://www.linkedin.com/company/{{website.linkedin}}/" target="_blank"><i
    class="linkedin large icon"></i></a>
{% endif %}

{% if website.github %}
<a class="ui github" href="https://github.com/{{website.github}}/" target="_blank"><i
    class="github large icon"></i></a>
{% endif %}

{% if website.telegram %}
<a class="ui telegram" href="https://t.me/s/{{website.telegram}}/" target="_blank"><i
    class="telegram large icon"></i></a>
{% endif %}

{% if website.reddit %}
<a class="ui reddit" href="https://www.reddit.com/r/{{website.reddit}}/" target="_blank"><i
    class="reddit large icon"></i></a>
{% endif %}

{% if website.youtube %}
<a class="ui youtube" href="https://www.youtube.com/channel/{{website.youtube}}/" target="_blank"><i
    class="youtube large icon"></i></a>
{% endif %}
